.eachComponent{
    padding: 14px;
    border-bottom: 1px solid #d1d1d1;
    width: 100%;
    text-align: left;
}

.titelElement{
    font-size: 16px;
    font-weight: 500;
}

.textElement{
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}